NEXT_PUBLIC_SUPABASE_URL=https://wruwfcebivakdkqgcqkn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndydXdmY2ViaXZha2RrcWdjcWtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyODAwMTksImV4cCI6MjEwMzg1NjAxOX0.drSxiYKzlYDhK70NQMPl7OyJbbcC78nDkORKZnGltjE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndydXdmY2ViaXZha2RrcWdjcWtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODI4MDAxOSwiZXhwIjoyMTAzODU2MDE5fQ.2VqWgBKedFXHiP_fhp_kP1lIJZz7Gd_lhnfbXeLt_5c
NEXT_PUBLIC_APP_URL=http://localhost:3000