# deps
node_modules
.pnp
.pnp.js

# build outputs
.next
dist
out
build
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# turbo
.turbo

# electron build output
apps/desktop/dist
apps/desktop/release
apps/desktop/package-lock.json

# android build output
android/.gradle
android/build
android/app/build
android/local.properties
apk-out/

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
Thumbs.db
